#item{
	padding: 20px;
}
.img{
    box-shadow: 0 0 35px red;
    border-radius: 25px;
    border-width: 5px;
    border-color: rgba(140, 26, 255, 0.5);
    border-style: ridge;

}
#navbar{
	background-color: rgba(140, 26, 255, 0.86);
  color:white;
  box-shadow: 0 0 50px red;
  font-family: Fredoka One;
}
body{
	background: url('https://i.pinimg.com/736x/6e/3b/d4/6e3bd4998456814c2850a23752d77f37--blog-backgrounds-background-ideas.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	 background-attachment: fixed;

}
.iframe-box {
      
        /*position: fixed;*/
        /*z-index: -1;*/
       /*user-select: none;*/
        /*user-select: none;*/
        /*-ms-transform: scale(3,9);*/
      /*transform: scale(3,9);*/
      transform: scale(3,1);
    
}

/*ssssss*/
.background {
  background: url("https://i.pinimg.com/736x/6e/3b/d4/6e3bd4998456814c2850a23752d77f37--blog-backgrounds-background-ideas.jpg");
    background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width:100%;
  height:300px;
}
.textonimage{
  color: rgba(140, 26, 255, 0.86);
  font-size: 90px;
  text-shadow: 0 0 50px red;
  font-family: Fredoka One;
}
#text2{
  background-color: rgba(0,0,0,0.5);
}
.comment{
  color:white;
  background-color: rgba(140, 26, 255, 1);
  border-radius: 25px;
  padding: 5px;
  padding-left: 10px;
  margin: 25px;
    box-shadow: 0 0 50px green; 
}
.modal-header{
  box-shadow: 0 0 50px red; 
  border-color: blue;
    color:white;
  background-color: rgba(140, 26, 255, 1);
  padding: 5px;
  padding-left: 10px;
}
#name{
  margin-left: 80px;
  padding-left:5px;
  margin: 5px;
  background-color: rgba(0,255,0,0.5);
  border-radius: 25px;
}
.img2{
  padding: 25px;
  border-radius: 10px 20px;
}

.modal-body {

    max-height: 500px;
    overflow: auto;
}
#commenttext{
  padding: 10px;
  margin-left: 80px;
  border-radius: 25px;
  background-color: rgba(0,255,0,0.3);
}
.commentimg{
  margin-top: 10px;
}
body .modal-admin {
    /* new custom width */
    width: 80%;
    /* must be half of the width, minus scrollbar on the left (30px) */
    /*margin-left: -375px;*/
}

/*dddfasfsadfasfasd*/




.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

