#item{
	padding: 20px;
}
.img{
    box-shadow: 0 0 35px blue;
    border-radius: 25px;

}
#navbar{
	background-color: rgba(0,0,255,0.5);
  color:white;
  box-shadow: 0 0 50px blue;
}
body{
	background: url('https://i.ytimg.com/vi/gKIFk8BJsDc/maxresdefault.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	 background-attachment: fixed;

}
.iframe-box {
      
        /*position: fixed;*/
        /*z-index: -1;*/
       /*user-select: none;*/
        /*user-select: none;*/
        /*-ms-transform: scale(3,9);*/
      /*transform: scale(3,9);*/
      transform: scale(3,1);
    
}

/*ssssss*/
.background {
  background: url("http://i.makeagif.com/media/12-10-2015/QYnjl8.gif");
    background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width:100%;
  height:300px;


}
.textonimage{
  color: white;
  font-size: 90px;
  text-shadow: 0 0 50px blue;
  background-color: 
}
#text2{
  background-color: rgba(0,0,0,0.5)
}
.comment{
  color:white;
  background-color: rgba(0,0,255,0.8);
  border-radius: 25px;
  padding: 5px;
  padding-left: 10px;
  margin: 25px;
}