<center><div>
	<h2><span class="label label-default" style="font-family: courier; font-weight: normal"><font color="white">Welcome {{$ctrl.user}}</font></span><h2>
</div></center>
<div>
<search change='$ctrl.change'/>
</div>
<div>
<list movie='$ctrl.movie' trailer='$ctrl.trailer' user="$ctrl.user" />
</div>
<div>
	<div  id="item" ng-repeat="fakev in $ctrl.listMovie" class="col-sm-3">
		<img height="390" width="230"  class="img" ng-src={{"http://image.tmdb.org/t/p/w185/"+fakev.poster_path}}>
		<!-- {{fakev.original_title}} -->
	</div>
	<entry result="$ctrl.trailer_string"></entry>

</div>




<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="http://placehold.it/350x200" alt="">
        <div class="overlay">
            <h2>Hover effect 2</h2>
            <a class="info" href="#">link here</a>
        </div>
    </div>
</div>