


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">


 

<button type="button" class="close" data-dismiss="modal">&times;</button>
<img  class=" img2 col-sm-6" height="200px" width="200px" ng-src={{"http://image.tmdb.org/t/p/w185/"+$ctrl.movie.poster_path}}>
<div class="col-sm-6">



  <div class="input-group">
  <span class="input-group-addon">Name:</span><span class="form-control">{{$ctrl.movie.title}}</span>
  </div>
  <div class="input-group">
  <span class="input-group-addon">Gener:</span><span class="form-control">{{$ctrl.movie.genres[0].name}}</span>
  </div>
    <div class="input-group">
  <span class="input-group-addon">Release Date:</span><span class="form-control">{{$ctrl.movie.release_date}} </span>
  </div>
    <div class="input-group">
  <span class="input-group-addon">Popularity:</span><span class="form-control">{{$ctrl.movie.popularity}}</span>
  </div>
    <div class="input-group">
  <span class="input-group-addon">Vote-Count:</span><span class="form-control">{{$ctrl.movie.vote_count}}</span>
  </div>

      <div class="input-group">
  <span class="input-group-addon">Vote-Avg:</span><span class="form-control">{{$ctrl.movie.vote_average}} </span>
  </div>

    </div>  

  <div>  





</div>

<button class="btn btn-warning btn-md" ng-click='$ctrl.favorite($ctrl.movie.id,$ctrl.movie.title,$ctrl.movie.poster_path)'> <span class="glyphicon glyphicon-star"></span> Favorite </button>

<button class="btn btn-success btn-md" data-toggle="modal" data-target="#myModal2"> Watch trailer</button>



        
        
      </div>
      <div  class="modal-body">
        <div id="comment" class="comment" ng-repeat="comment in $ctrl.comments">
          <img height="50" width="50" class="commentimg img-circle col-sm-2" src="https://www.w3schools.com/howto/img_avatar.png">
        
        <h4 class="col-sm-3" id="name">Name:{{comment.users}}</h4><br>

         <h3 id="commenttext"> {{comment.comment}}</h3>
      </div>
      </div>
      <div class="modal-footer">
        <div class="navbar-left"><input id="comment" class="form-control" type="text" name="comment" placeholder="Type your comment"><button ng-click="$ctrl.addcomment()" class="btn btn-success">Submit</button></div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
